
<div class="container-fluid">
  <h2>CADASTRE-SE!</h2>
  <p class="subtitulo">There are many variations of passages of Lorem Ipsum available</p>
  <div class="formulario">
      <form [formGroup]="form">
        <input type="text" class="col form-control margens" placeholder="Nome" id="nome" formControlName="nome" required> 
        <input type="text" class="col form-control margens" placeholder="Sobre Nome" id="sobrenome" formControlName="sobrenome" required>
        <input type="number" class="col form-control margens" placeholder="Participacao" id="participacao" formControlName="participacao" required >
        <button class="btn btn-outline-success enviar" (click)="enviarDados()" [disabled]="form.invalid" style="margin-right: 110px;">Enviar</button>   
        <span class="validity"></span>     
      </form>
  </div>

</div>
