.container-fluid {
    background-color: #00b8e2;
}
h2 {
    color:  white;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
}
.subtitulo {
    text-align: center;
    margin-bottom: auto;
    color:  white;
    font-size: 12px;
}    
.formulario {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}
button.enviar {
    font-weight: bold;
    color: white;
    border-color: white;
    width: 120px;
}
button:hover {
    background-color: #15ba9ab0 !important;
}
input {
    display: initial ;
    height: 40px;
    font-size:  12px;
    margin-right: 10px;
    max-width: 220px;
    min-width: 220px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
    color: #666;
}
.left-inner-addon input.form-control {
    padding-left: 30px;
}
.margens {
    margin: 2px 10px 2px 0px;
}