* {
    margin: 0px;
    padding: 0px;
}
.fonte_endereco {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
}
.endereco {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: bold;
    float: left;
    color: #999999;
    width: 35%;
    margin-left: 25%;
}
.sociais {
    background-repeat: no-repeat;
    min-height: 50px;
    margin-right: 1px;
}
.social {
    background-image: url("../../img/sociais.png") !important;
    background-size: auto; 
}
.social_facebook {
    background-image: url("../../img/facebook.png") !important;
}
.social_google {
    background-image: url("../../img/google-plus.png") !important;
}
.social_twitter {
    background-image: url("../../img/twitter.png") !important;
}
.social_youtube {
    background-image: url("../../img/youtube-squared.png") !important;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer {
    clear: both;
    text-align: center;
    color: whitesmoke;
    background-color: #828282;
    padding-top: 7px;
    font-size: 11px;
    height: 40px;
    padding-right: 0px;
    padding-left: 0px;
 }
 
