
<hr />

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <div class="endereco fonte_endereco">
          CUBO <br />
          Rua: Casa do ator, 919 <br />
          04546-003 - São Paulo - SP 
      </div> 
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
      <div class="sociais social">
        <a href="https://icons8.com/icon/44003/facebook" target="_blank">
          <span class="social "></span>
        </a>
        <a href="https://icons8.com/icon/44009/google-plus" target="_blank">
          <span class="social "></span>
        </a>
        <a href="https://icons8.com/icon/44055/twitter" target="_blank">
          <span class="social "></span>
        </a>
        <a href="https://icons8.com/icon/63852/youtube-ao-quadrado" target="_blank">
          <span class="sociais "></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
      <div class="footer">@copyright It is a long established fact that a reader</div>
    </div>
  </div>
</div>



