
<div>
  <div id="container">
      <h2>COMO FUNCIONA?</h2>
      <div class="box">
          <div class="small_img img_globe"></div>
          <p class="titulo_imagem">Passo 1</p>
          <p class="descricao_imagem">e many variations of passages of Lorem Ipsum available.</p>
      </div>
      
      <div class="box">
        <!--   <div class="small_img img_double-arrow"></div> -->
          <div class="small_img img_compras"></div>
          <p class="titulo_imagem">Passo 2</p>
          <p class="descricao_imagem">e many variations of passages of Lorem Ipsum available.</p>
      </div>
      <div class="box">
          <div class="small_img img_like"></div>
          <p class="titulo_imagem">Passo 3</p>
          <p class="descricao_imagem">e many variations of passages of Lorem Ipsum available.</p>
      </div>
      <div class="box">
          <div class="small_img img_delivery-truck"></div>
          <p class="titulo_imagem">Passo 4</p>
          <p class="descricao_imagem">e many variations of passages of Lorem Ipsum available.</p>
      </div>
      <div>
           <button type="button" class="btn btn-outline-success leia_mais">LEIA MAIS</button>
      </div>
      
      
  </div>

</div>



