h2 {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 15px;
}    
.subtitulo {
    text-align: center;
    font-size: 14
}   
.small_img {
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    margin-left: auto;
    margin-bottom: 30px;
}

.img_double-arrow {
    background-size: 26px;
    background-image: url("../../img/double-arrow.svg") !important; 
    height: 27px;
}

.titulo_imagem {
    font-size: 18px;
    font-weight: bold;
    position: inherit;
    margin-bottom: auto;
}
.descricao_imagem {
    font-size: 12px;
    margin-bottom: auto;
}

.img_coins {
    background-image: url("../../img/coins.svg") !important; 
}
.img_medal {
    background-image: url("../../img/medal.svg") !important; 
}
.img_gift {
    background-image: url("../../img/gift.svg") !important; 
}
.img_settings {
    background-image: url("../../img/settings.svg") !important; 
}
.img_globe {
    background-image: url("../../img/globe.svg") !important; 
}
.img_compras {
    background-image: url("../../img/compras.svg") !important; 
}
.img_like {
    background-image: url("../../img/like.svg") !important; 
}
.img_delivery-truck {
    background-image: url("../../img/delivery-truck.svg") !important; 
}

.leia_mais{
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 60px;  
}

#container {
    width: 100%;
    text-align: center;
}

.box {
    display: inline-block;
    width: 200px; 
    height: 190px;
    margin: 10px 20px;
}
