h3 {
    font: bold;
}

.img {
    background-image: url("../../img/recicle.jpg") !important; 
    background-repeat: no-repeat;
    background-size: cover;
}
.row {
    height: -webkit-fill-available;
}

.caixa_direita {
    /* float: right; */
    color: honeydew;
    background-color: darkslategray;
    padding-top: 30px;
    padding-left: 25px;
} 