<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 img"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 caixa_direita">
            <h3>SOBRE NÓS</h3>
            <span>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
        </div>
    </div>    
</div>
    
