* {
    margin: 0px;
    padding: 0px;
}
header {
    height: 70px;
    padding-top: 22px;
    font-family: 'Courier New', Courier, monospace;
}

#logo {
    width: 80%;
    background-image: url("../../img/logo-cubo.png") !important;
    background-repeat: no-repeat;
    background-size: 88px;
    float: right;
    min-height: 50px;
}

#menu {
    width: 50%;
    min-height: 50px;
    float: right;
}

#nav-menu-container {
    float: left;
    margin: 0;
}
.nav-menu > li {
    margin-left: 10px;
}
.nav-menu > li {
    float: left;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;
}
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-scrolled .nav-menu li:hover > a, .header-scrolled .nav-menu > .menu-active > a {
    color: rgb(243, 89, 0);
}
.header-scrolled .nav-menu a {
    color: rgba(194, 188, 188, 0.973);
}
.nav-menu li:hover > a, .nav-menu > .menu-active > a {
    background-color: rgb(243, 89, 0); 
    color: white;
}
.nav-menu a {
    border-radius: 5% 5% 5% 5%;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    display: inline-block;
    color: rgba(194, 188, 188, 0.973);;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
}
