  <div class="container">
      <h2>SERVIÇOS</h2>
      <p class="subtitulo">There are many variations of passages of Lorem Ipsum available</p>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 box">
        <div>
          <div class="small_img img_gift"></div>
          <p class="titulo_imagem">All the Lorem Ipsum</p>
          <p class="descricao_imagem">Many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't lo</p>
        </div>
        <div> 
          <div class="small_img img_coins"></div>
          <p class="titulo_imagem">All the Lorem Ipsum</p>
          <p class="descricao_imagem">Many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't lo</p>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 box" >
        <div> 
          <div class="small_img img_settings"></div>
          <p class="titulo_imagem">All the Lorem Ipsum</p>
          <p class="descricao_imagem">Many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't lo</p>
        </div>
        <div > 
          <div class="small_img img_medal"></div>
          <p class="titulo_imagem">All the Lorem Ipsum</p>
          <p class="descricao_imagem">Many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't lo</p>
        </div>
      </div>
    </div>
  </div>



