h2 {
    padding-top: 35px;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}    
.subtitulo {
    text-align: center;
    font-size: 13px;
}   
.small_img {
    background-repeat: no-repeat;
    background-size: contain; 
    position: absolute;
    height: 40px;
    width: 40px;
}
.img_coins {
    background-image: url("../../img/coins.svg") !important; 
}
.img_medal {
    background-image: url("../../img/medal.svg") !important; 
}
.img_gift {
    background-image: url("../../img/gift.svg") !important; 
}
.img_settings {
    background-image: url("../../img/settings.svg") !important; 
}
.titulo_imagem {
    text-transform: uppercase;
    position: inherit;
    font-size: 12px;
    margin-left: 50px;
}
.descricao_imagem {
    font-size: 11px;
    margin-left: 50px
}
.box {
    margin: auto;
}
.row {
    margin-top: 40px;
    margin-bottom: 60px;
}
