
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 img" src="recicle.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>h5 do primeiro slide</h5>
          <p>p do primeiro slite</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img" src="recicle.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>h5 do segundo slide</h5>
          <p>p do segundo slite</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img" src="recicle.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>h5 do terceiro slide</h5>
          <p>p do terceiro slite</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
