h3 {
    font-weight: bold;
    text-align: center;
    color: #394b50;
    font-size: 24px;
    padding-top: 30px;
}
table {
    margin-top: 30px;
    width: 100%;
}
tr:hover {
    background-color: #EEE;
}
td {
    padding-left: 5px;
}
th {
    font-weight: bold;
}
th, td {
    color: #777474;
    padding: 5px 10px;
}
.subtitulo {
    text-align: center;
    margin-bottom: auto;
    color: #394b50;
    font-size: 12px;
} 
@media (min-width: 1200px) {
.container {
    max-width: 86%;;
    margin-top: 40px;
    color: #959595;
    }
}

.grafico {
    background-image: url("../../img/grafico-pizza.png") !important;
    background-repeat: no-repeat;
    float: right;
    background-size: 400px;
    width: 45%;
    min-height: 250px;
    margin-top: -20px;
}

th:nth-child(4), td:nth-child(4) {
    text-align: center
}

.estido-td {
    color: #777474;
    font-weight: bold;
    text-align: center;
}

.coluna_2 {
    max-width: 50% !important;
}
.coluna_1 {
    padding-left: 163px;
}