<app-cadastro (dadosParticipante)="recieveDatas($event)"></app-cadastro>

<div id="sucess" class="alert alert-success" role="alert" *ngIf="sucessSave">
    <strong>Parabéns!</strong> Participante cadastrado com sucesso.
</div>

<div id="error" class="alert alert-danger" role="alert" *ngIf="totalExcedido">
    <strong>Opá!</strong> Verifique o total da participação e tente novamente.
</div>

<div class="container">
    <h3>DADOS</h3>
    <p class="subtitulo">Informações dos cavalinhos cadastrados hehe.</p>

    <div class="row">
        <div class="coluna_1">
            <table class="table-bordered">
                <thead>
                    <th></th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Participação</th>
                </thead>

                <tbody>
                    <tr *ngFor="let participante of participantes">
                        <td>{{ participante.id }}</td>
                        <td>{{ participante.nome }}</td>
                        <td>{{ participante.sobrenome }}</td>
                        <td>{{ participante.participacao + "%" }}</td>
                    </tr>

                    <tr>
                        <td class="estido-td" colspan="3">Total de Participação</td>
                        <td class="estido-td">{{ sumandoParticipacao() + "%" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="coluna_2">
            <app-chart [participantes]="participantes" [newParticipante]="newParticipante"></app-chart>
        </div>
    </div>
</div>